.nav {
  padding: 24px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg, #3023ae 0%, #af32c4 200%);
}

.nav a {
  color: white;
}

.nav svg {
  fill: white;
}